// ------------------------------
// | Styling for elements that are being directly selected.
// |
// | EX: img, h1, etc.
// ------------------------------

@use "variables" as var;

* { box-sizing: border-box; }

// ------------------------------
// | width: 100%; prevents the body from resizing when position: fixed; is applied to the body.
// ------------------------------

html, body { overflow-x: hidden; }

body {
  position: relative;
  width: 100%;
  font-family: var.$font-rosario;
  background-color: var.$color-dark;

  @supports (--css: variables) { font-family: var(--font-rosario); background-color: var(--color-dark); }
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

img { display: block; width: 100%; }
