@use "variables" as var;

.intro {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  @media only screen and (min-width: var.$bp-4) { padding-top: 7.8125rem; }
  @media only screen and (min-width: var.$bp-5) { padding-bottom: 7.8125rem; }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 400;
    color: var.$color-white;

    @supports (--css: variables) { color: var(--color-white); }

    @media only screen and (min-width: var.$bp-1) { font-size: 3.5rem; }
    @media only screen and (min-width: var.$bp-2) { margin-bottom: 3rem; font-size: 4rem; }
    @media only screen and (min-width: var.$bp-3) { font-size: 5.5rem; }
    @media only screen and (min-width: var.$bp-4) { font-size: 6.5rem; }
  }
}
